body{
    font-family: 'Press Start 2P', cursive;
    list-style-type: none;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=41407);
}
.pokeball{
    max-height: 100%;
    height: 850px;
    width: 1540px;
    max-width: 1540px;
    text-align: center;
    opacity: 1;
    margin-top: 0px;
    margin-left: -100px;
    margin-bottom: 0px;
    position: sticky;
    z-index: -1;
}

.pokeball2{
    max-height: 100%;
    height: 850px;
    width: 1440px;
    max-width: 1540px;
    text-align: center;
    opacity: 1;
    margin-top: -280px;
    // margin-left: -14px;
    margin-bottom: 0px;
    position: sticky;
    z-index: -2;

}

h3{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    font-size: 24px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
    margin-left: 300px;
    margin-top: 50px;
    animation: leaves 3s;
}

.title{
    font-family: 'Press Start 2P', cursive;
    color:rgb(0, 0, 0);
    text-shadow: 2px 2px rgb(255, 255, 255);
    margin-left: 750px;
    position: absolute;
    font-size: 24px;


}
h1{
    background: rgb(250, 15, 15);
    border: black;
    border-style: solid;
    border-width: 4px;
    margin: 0px;
    opacity: 1;
    height: 200px;
    width: 1450px;
    max-width: 100%;
    
}

.logo{
    height: 200px;
    width: 500px;
    max-height: 200px;
    max-width: 500px;
    opacity: 1;
    margin-top: 10px;
    position: absolute;
    // margin-top: 10px;   
    margin-left: 450px;
    animation: leaves2 3s;
}

.trainer{
    max-height: 500px;
    position: absolute;
    margin-top: 150px;
    margin-left: 75px;
    opacity: 0;
    animation: fadeIn 4s, leaves 2s;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}


h4{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 18px;
    color:  rgb(250, 15, 15);
    text-shadow: 3px 2px black;
    margin-top: 0px;
    /* border: 4px solid black; 
    background: rgb(250, 15, 15);
    width: 1450px;
    max-width: 1450px;
    position: absolute;
    padding: 20px 20px 20px 20px;
    position: fixed;
    margin-bottom: 0px; */
}

footer{
    background: rgb(250, 15, 15);
    border: black;
    border-style: solid;
    border-width: 4px;
    height: 100px;
    width: 1450px;
    max-width: 100%;
    z-index: 2;
    margin-top: 0px;
}

#pokemoninfo{
    border: 3px solid black;
    padding: 20px 20px 20pz 20px;
    background-color: rgb(231, 209, 6);
    opacity: .85;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.171);
    margin-top: 100px;
    // animation:  fadeIn2 3s;

}
#pokemoninfo2{
    border: 3px solid black;
    padding: 20px 20px 20pz 20px;
    margin-top: 100px;
    background-color: rgb(236, 56, 56);
    opacity: .9;
    margin-left: -100px;
    

}
#pokemoninfo3{
    border: 3px solid black;
    /* padding: 20px 20px 20px 20px; */
    margin-top: 100px;
    margin-left: -50px;
    z-index: 1;
    background-color: rgb(230, 116, 186);
    opacity: .9;
    
    

}
.row{
    margin-top: -755px;
    margin-left: 100px;
}


#name{
    text-transform: uppercase;
    font-size: 20px;

}

#name2{
    font-size: 20px;
    text-transform: uppercase;
}

#name3{
    font-size: 20px;
    text-transform: uppercase;

}
.hypnoimage{
    display: block;
    z-index: 2;
    position: absolute;
    margin-top: 100px;
    opacity: 1;
    animation: fadeIn2;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

.poke2{
    color: white;
}

.abilities2{
    color: white;
}

.slowkingimg{
    display: block;
    z-index: 2;
    position: absolute;
    margin-top: 120px;
    margin-left: 475px;
    height: 350px;
    opacity: 1;
    animation:  fadeIn2 3s;
    // animation: fadeIn;
    // animation-duration: 3s;
    // animation-fill-mode: forwards;
}
.section{
    margin-left: 100px;
}

.lickitung{
    display: block;
    z-index: 2;
    position: absolute;
    margin-top: 160px;
    margin-left: -55px;
    opacity: 1;
    animation: fadeIn2 3s;
    // animation-duration: 5s;
    // animation-fill-mode: forwards;

}
.psy{
    border: 2px solid black;
    /* border-radius: 4px; */
    padding: 10px 10px;
    font-size: 12px;
    background-color: darkorchid;
    color: white;
    z-index: 3;
    margin-top: 0px;
    text-shadow:2px 2px black;
}
.water{
    border: 2px solid black;
    /* border-radius: 4px; */
    padding: 10px 10px;
    font-size: 12px;
    background-color:blue;
    color: white;
    z-index: 3;
    margin-top: -10px;
    text-shadow: 2px 2px black;
}
.normal{
    border: 2px solid black;
    /* border-radius: 4px; */
    padding: 10px 10px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    z-index: 3;
    margin-top: 0px;
    text-shadow: 2px 2px black;
    opacity: 1;
}

@keyframes fadeIn2 {
    0% {
      opacity: .7;
    }
    20% {
      opacity: .75;
    }
  
    30% {
      opacity: .8;
    }

    40% {
        opacity: .85;
    }
  
    60% {
      opacity: .90;
    }
    75% {
        opacity: .95;
    }
  
    100% {
      opacity: 1;
    }
  }

@keyframes fadeIn {
    0% {
      opacity: .0;
    }
    20% {
      opacity: .0;
    }
  
    30% {
      opacity: .25;
    }

    40% {
        opacity: .45;
    }
  
    60% {
      opacity: .65;
    }
    75% {
        opacity: .85;
    }
  
    100% {
      opacity: 1;
    }
  }

  @keyframes bounce  {
      20% {
          transform: translateY(0px);
      }
      40% { 
          transform: translateY(-50px);
      }
      70% {
          transform: translateY(0px);
      }
      90% {
          transform: translateY(-50px);
      }
      100% {
          transform: translateY(0px);
      }
  }

  .slowkingimg:hover{
      animation: bounce 1s infinite;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=41407);

  }

  .hypnoimage:hover{
    animation: bounce 1s infinite;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=41407);
  }

  .lickitung:hover{
    animation: bounce 1s infinite;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=41407);
  }

@keyframes leaves {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
    }
    100%{
        transform: scale(1.35);
    }
}

@keyframes leaves2 {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.2);
    }
}

.trainercard{
    position: absolute;
    z-index: 2;
    margin-left: 1000px;
    margin-top: -250px;
    height: 250px;
}